@font-face {
	font-family:"vietnamBold";
	src:url('fonts/oxy-vietnam-Bold.ttf') format('truetype');
	font-weight:normal;
	 font-style:normal;
}
@font-face {
	font-family:"vietnamItalic";
	src:url('fonts/oxy-vietnam-Italic.ttf') format('truetype');
	font-weight:normal;
	 font-style:normal;
}

@font-face {
	font-family:"vietnam";
	src:url('fonts/oxy-vietnam.ttf') format('truetype');
	font-weight:normal;
	 font-style:normal;
}


html,body{
	padding: 0px;
	margin: 0px;
	justify-content: center;
	overflow-x: hidden;
}

*::before,
*::after {
    box-sizing: border-box;
}

#header{
	background: #ffffff;
	display:flex;
	height: 115px;
	position: fixed;
    z-index: 902;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	
}

#header_left{
	width: 20%;
	height: 100%;
	/* position: absolute; */
	/* left: 9%; */
	/* top: 15%; */
	/* height: 100%; */
}

#header_right{
	/* position: absolute; */
	width: 80%;
	/* right: 10%; */
	height: 100%;
	/* transform: translateY(15px); */
	/* top: 15%; */
}
.logo{
	    height: 100%;
	    /* padding: 10px 20px 0px 0px; */
}
.logo > a img{
	display: block;
	margin-top: 15px;
	height: auto;
	margin-left: auto;
}

.box_qc{
	position: absolute;
    font-family: vietnam;
    right: 15%;
    padding: 7px 0;
}

.box_qc .yt_logo{
	padding: 7px 7px 6px 7px;
	background-color: red;
}

.box_qc .fb_logo{
	padding: 7px 14px 6px 13px;
	background-color: #224095;
}

.hotline{
	/* line-height: 33px; */
	color: #ffffff;
	background-color: #71bf44;
	padding: 7px 4px 7px 3px;
	font-family: vietnamBold;
	/* padding-bottom: 50%; */
	/* transform: translate(10px, 10px); */
}

.box_qc > span {
	/* position: absolute; */
	/* margin: 0 auto; */
}

.box_search{
	cursor: pointer;
	background: #fff;
	height: 32px;
	/* margin-right: 9px; */
	border: 1px solid #415ba4;
	color: #415ba4;
	position: absolute;
	/* top: 2%; */
	right: 36.5%;
}

.box_search form{
	display: flex;
}

.box_search input{
	border: none;
    border-right: 1px solid #415ba4;
    background: none;
    width: 204px;
    height: 29px;
    padding: 3px 0px 0px 12px;
    font-family: vietnamItalic;

}

.btnSearch{
	cursor: pointer;
    background: #fff;
    width: 35px;
    top: 7px;
    border: none;
    color: #415ba4;
}



.header_right_top{
	width: 100%;
	height: 50%;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	transform: translateY(10px);
}

.header_right_bottom{
	transform: translateX(68px);
}

.header_right_bottom ul{
	/* margin: 0; */
	list-style-type: none;
	display: inline-block;
	/* padding: 38px 0px; */
	/* margin-left: auto; */
}

.header_right_bottom ul li{
	list-style: none;
	float: left;
	position: relative;
}

.header_right_bottom ul li a{
	color: #212121;
	display: block;
	padding: 0px 19px;
	border-right: 2px solid #d8d8d8;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-family: vietnamBold;
	font-weight: bold;
	line-height: 13px;
}

.header_right_bottom ul li  :hover{
	color: #71bf44;
}

.wrapper {
  height: 100%;
 
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  margin-top: 115px;
}

.banner_slide{
	height: auto;
	width: 100%;
}

.banner_slide_swiper-container {
  width: 100%;
  height: calc(100vh - 100px);
}

.banner_slide_swiper-container.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: center;
  background-size:100% 100%;
  background-repeat:no-repeat;
}

.iconPhone{
	position: fixed;
	width: 47px;
	height: 47px;
	z-index: 901;
	border-radius: 50%;
	background-color: #71bf44;
	margin: 0;
	bottom: 10%;
	left: 10%;
}

.iconPhone img{
	    padding: 36%;
}

.slider_container_popup{
	position: fixed;
	z-index: 901;
	width: 249px;
	height: 110px;
	display:flex;
	right: 0;
	top: 45%;
	margin: 0;
}

.slider_container_popup_left{
	position: relative;
	width: 18px;
	height: auto;
	background-color: #224095;
}

.slider_container_popup_left img{
   position: absolute;
   bottom: 45%;
   left: 13%;
}

.slider-container_popup_right{
	width: 231px;
    height: 110px;
    background-color: #71bf44;
}

.slider_container_popup_right_top a{
	position: absolute;
    color: white;
    font-family: vietnam;
    font-weight: bold;
    padding-right: 15px;
    left: 10%;
    top: 20%;
    text-decoration: none;
    margin: 0px;
}

.slider_container_popup_right_top a img{
	padding-right: 14px;
}

.slider_container_popup_right_top{
	    position: relative;
	    height: 55px;
	    border-bottom: #224095 solid 1.5px;
}

.slider-container_popup_right_bottom{
	    position: relative;
	height: 55px;
}

.slider-container_popup_right_bottom a{
	position: absolute;
    color: white;
    font-family: vietnam;
    text-decoration: none;
    font-weight: bold;
    margin-right: 2px;
    left: 13%;
    top: 20%;
    margin: 0px;
}

.slider-container_popup_right_bottom a img{
	margin-right:20px;
}


.banner_gt{
	display: flex;
    height: 750px;
    border-bottom: #71bf44 solid 10px;
}

.banner_gt_rectang{
	position: absolute;
}

.banner_gt_left{
	width: 50%;
	height: 100%;
	border-top: #224095 solid 10px;
}

.banner_gt_left_content{
	margin-left: 63px;
}

.banner_gt_left_content_shape{
	width: 4px;
	top: 14%;
	background-color:#71bf44;
}

.banner_gt_left_content > h1,h4{
	text-transform: uppercase;
	color: #224095;
	font-family: vietnamBold;
}

.banner_gt_left_content h1{
	font-size: 43px;
}

.banner_gt_left_content .banner_gt_left_content_text,h4{
}

.banner_gt_left_content_text{
	text-align: justify;
	font-family: vietnam;
	width: 90%;
	font-size: 16px;
	color: #000000;
}

.banner_gt_left_content_logo{
	width: auto;
	
	display: flex;
	margin-top: 42px;
}

.banner_gt_left_content_logo .coppy{
	background-image: url(image/coppy.png);
	background-repeat: no-repeat;
	width: 100%;
	height: calc(100%/4);
	height: auto;
	align-items: center;
	
	display: grid;
}

.banner_gt_left_content_logo .coppy img{
	margin-left: 17px;
	margin-top: 27px;
}

.banner_gt_left_content_logo span{
	text-align: left;
	margin-top: 53px;
	font-family: vietnam;
	font-weight:bold;
}

.logo_xemThem {
	padding-top: 10%;
}

.banner_gt_right{
	width: 50%;
	right: 0;
	background-image: url('image/ben_6215.png');
	border-top: #71bf44 solid 10px;
	background-repeat:no-repeat;
	background-size:100% 100%;
}


.banner_sp{
	width: 100%;
	height: 715px;
	position: relative;
}

.banner_sp:after{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 50%;
	background-color:#284393;
	z-index: -1;
}

.banner_sp:before{
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 50%;
	background-color:#f2f2f2;
	z-index: -1;
}


.banner_sp_top_sp{
	width: 500px;
	padding-top: 15px;
	height: auto;
	align-items: center;
	display: flex;
	margin:0 auto;
}

.banner_sp_top_sp span{
	font-family: vietnamBold;
	font-weight:bold;
	text-transform: uppercase;
	color: white;
	font-size: 48px;
	margin: 10px 30px;
}

.banner_sp_top_sp_gc{
	width: 100px;
	height: 3px;
	background-color:#71bf44;
}

.banner_sp_top_imgSp{
	display: flex;
    width: calc(100% - 300px);
    margin: 56px auto;
}

.banner_sp_top_imgSp1{
	position: relative;
	background-color: white;
	display: block;
	width: 100%;
	margin: 0px 10px;
	display: grid;
	padding: 50px;
	border-bottom: #71bf44 solid 2px;
}

.banner_sp_top_imgSp1 a{
	position: absolute;
	bottom: -6%;
	transform: translate(64%, 0);
	/* left: 29%; */
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	/* justify-content: center; */
}


.img_Sp{
	margin-left: auto;
    margin-right: auto;
}


.name_sp{
	width: 100%;
	text-align: center;
	bottom: -17%;
	text-transform: uppercase;
	color: #284393;
	font-size: 23px;
	font-family: vietnamBold;
	font-weight:bold;
	position: absolute;
	/* transform: translateY(123%); */
}
/*banner dự án*/
.banner_prj{
	width: 100%;
	height: 818px;
}


.banner_prj_top{
	width: 500px;
	padding: 18px 0;
	height: auto;
	align-items: center;
	display: flex;
	margin: 0 auto;
}

.banner_prj_top span{
	font-family: vietnamBold;
	font-weight:bold;
	text-transform: uppercase;
	color: #284393;
	font-size: 48px;
	margin: 10px 30px;
}

.banner_prj_top_gc{
	width: 100px;
	height: 3px;
	background-color:#71bf44;
}


.banner_prj_bottom {
    width: 100%;
    height: 660px;
    margin-left: auto;
    margin-right: auto;
}

.banner_prj_bottom .swiper-wrapper{
	z-index: 0;
}
.banner_prj_bottom .swiper-slide {
	margin-top: 0;
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: calc((100% - 15px) / 2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 10px;
}

.banner_prj_bottom_swiper-pagination{
	margin-left: 48%;
	margin-top:20px;
}

/*banner_dt*/
.banner_dt{
	width: 100%;
	height: 407px;
}

.banner_dt_top{
	width: 100%;
	padding: 18px 0;
	height: auto;
	align-items: center;
	display: flex;
	transform: translateX(35%);
}

.banner_dt_top span{
	font-family: vietnamBold;
	font-weight:bold;
	text-transform: uppercase;
	color: #284393;
	font-size: 48px;
	margin: 10px 30px;
}

.banner_dt_top_gc{
	width: 100px;
	height: 3px;
	background-color:#71bf44;
}

.swiper-container {
    width: calc(100% - 300px);
    margin: 0 auto;
    height: 259px;
    }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.banner_dt .swiper-container .swiper-wrapper .swiper-slide{
	border-bottom: #284393 solid 2px;
}


#footer{
	position: relative;
	margin: 0 auto;
	padding: 0 55px;
	display: flex;
	height: 485px;
	background-color: #224095;
}

.footer_left {
	width: calc(100%/3 - 50px);
	margin: 0 auto;
	color: white;
}

.footer_center{
	display: grid;
	width: calc(100%/3 - 50px);
	margin: 0px auto;
	color: white;
}

.footer_right{
	width: calc(100%/3 - 100px);
	margin: 0 auto;
	display: grid;
	padding-right: -8px;
}

.footer_logo{
	margin-top: 20px;
}

.footer_inform{
	margin-top: 41px;
}

.footer_inform span{
	font-family: vietnam;
}

.footer_text{
	font-family: vietnamBold;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}
.footer_gc{
	width: 76px;
	height: 3px;
	background-color:#71bf44;
	margin-top: -8px;
}

.footer_center_top_top{
	font-family: vietnamBold;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.footer_center_top{
	border-bottom: #657ab5 solid 1px;
}

.footer_center_top_bottom{
	margin-top: 18px;
}

.footer_center_top_bottom span{
	font-family: vietnam;
}

.footer_right_support{
	padding-top: 21px;
}

.box_support{
	display: flex;
	width: 285px;
	height: 80px;
	border-bottom: #657ab5 solid 1px;
}

.box_support_img{
	height: 20px;
	padding: 11px;
	border: #657ab5 solid 1px;
}

.box_support span{
	height: 24px;
	padding: 9px;
	color: white;
	margin-right: 7px;
	font-family: vietnam;
	border: #657ab5 solid 1px;
}

.zl_logo {
	width: 44px;
	height: 44px;
	background-image:url(image/zalo.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.sky_logo {
	width: 44px;
	height: 44px;
	margin-left: 5px;
	padding: 1px 0px;
	background-image:url(image/skype.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.footer_right_regis{
	width: 285px;
	margin-top: -34px;
	height: 255px;
	border-bottom: #657ab5 solid 1px;
}

.footer_right_regis_top {
	font-family: vietnamBold;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 263px;
	color: white;
}

.footer_right_regis_form {
    width: 100%;
    margin: auto;
    padding: 20px;
}
.footer_right_regis_form    input[type=text] {
    width: 100%;
    padding: 12px 0px 11px 0px;
    border: 1px solid #ccc;
    background-color: #224095;
    font-family: vietnam;
    margin-left: -20px;
    margin-bottom: 16px;
    resize: vertical;
}
 
.footer_right_regis_form input[type=submit] {
    background-color: #4CAF50;
    position: relative;
    padding: 12px 43px;
    border: none;
    margin-left: -20px;
    cursor: pointer;
}
 
.footer_right_regis_form input[type=submit]:hover {
    background-color: #45a049;
}

.button_regis{
	position: absolute;
	margin: 10px 0px 0px -55px;
}

.footer_right_coppy{
	color: white;
	font-family: vietnam;
}    

.myBtn {
	width: 10px;
	height: 10px;
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: 18px;
	border: white solid 1px;
	outline: none;
	background-color: #224095;
	color: white;
	cursor: pointer;
	padding: 27px;
	border-radius: 4px;
}

.myBtn img{
	margin: 0px 0px 12px -7px;
}

.myBtn:hover {
  background-color: #555;
}


.open-button {
    background-color: #224095;
    color: white;
    padding: 0px 0px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 216px;
    right: 0;
    height: 110px;
    width: 16px;
    z-index: 901;
}

.btn_cancel{
	background-color: #224095;
    color: white;
    padding: 0px 0px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 215px;
    height: 110px;
    width: 16px;
    z-index: 901;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 34%;
  right: 0;
  z-index: 901;
}