
@font-face {
  font-family: "vietnamBold";
  src: url("fonts/oxy-vietnam-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vietnamItalic";
  src: url("fonts/oxy-vietnam-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vietnam";
  src: url("fonts/oxy-vietnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0px;
  margin: 0px;
  justify-content: center;
  overflow-x: hidden;
}

p {
  box-sizing: border-box;
}

#header {
  background: #ffffff;
  display: flex;
  height: 100px; 
  position: fixed;
  z-index: 902;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-direction: row;
  align-items: space-around;
  padding-right: 10% !important;
}

.header_scroll{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.header_left {
  padding-left: 12.152778%;
}
@media screen and (max-width: 1024px){
  .header_left{
      padding-left: 30px;
  }
}

@media screen and (max-width: 768px){
  .header_left{
    transform: translateX(-50% );
    left: 50%;
    position: relative;
    padding: 0;
  }
}

@media screen and (max-width: 375px){
    .header_left{
        padding-left: 0;
    }
}


.header_right {
  padding-right: 12.152778%;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .header_right{
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px){
    .header_right{
    position: fixed;
    top: 0;
    left: auto;
    left: 0px;
    height: 100vh;
    width: 100%;
    background: #ffffff;
    text-align: center;
    background-color: #224095;
    z-index: 101;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-backface-visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
}

.hamburger-box{
  display: none;
  position: relative;
  width: 43px;
  height: 35px;
  position: fixed;
  z-index: 100;
  top: 26px;
  left: 15px;
  padding-top: 18px;
  cursor: pointer;
  opacity: 1 !important;
  pointer-events: all;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}

.hamburger-menu{
  font-family: vietnamBold;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  top: -3px;
  left: 0;
  color: #224095;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.hamburger-inner{
  width: 27px;
  margin-top: 7px;
}

.hamburger-inner:before{
  position: absolute;
  height: 3px;
  background-color: #224095;
  display: block;
  content: "";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 43px;
}

.hamburger-inner:after{
  position: absolute;
  height: 3px;
  background-color: #224095;
  display: block;
  content: "";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 15px;
  width: 33px;
}

@media screen and (max-width: 768px){
  .hamburger-box{
      display: inline-block;
  }
}

@media screen and (max-width: 768px){
    .hamburger-box:hover .toggleHeader{
        display: inline-block;
    }
}

.active{
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}

.logo {
  height: 100%;
}

.logo > a img {
  display: block;
}

@media screen and (max-width: 375px){
    .logo > a img{
      margin: 0 auto;
      width: 80%;
    }
}

.box_qc {
  font-family: vietnam;
  padding: 7px;
  padding-right: 12px;
}

@media screen and (max-width: 768px){
    .box_qc{
      padding: 7px 27px 7px 0px;
    }
}

.box_qc .yt_logo {
  padding: 7px 10px 6px 10px;
  background-color: red;
}

.box_qc .yt_logo i {
  color: white;
}

.box_qc .fb_logo {
  padding: 7px 14px 6px 13px;
  background-color: #224095;
}

@media only screen and (max-width: 768px){
.box_qc .fb_logo {
    background-color: white;
  }
}

.box_qc .fb_logo i{
  color: white;
}

@media only screen and (max-width: 768px){
.box_qc .fb_logo i{
    color: #224095;
  }
}

.hotline a{
  text-decoration: none;
  color: #ffffff;
  background-color: #71bf44;
  padding: 7px 4px 7px 3px;
  font-family: vietnamBold;
}

.box_search {
  cursor: pointer;
  background: #fff;
  height: 32px;
  border: 1px solid #415ba4;
  color: #415ba4;
}

@media only screen and (max-width: 768px){
  .box_search {
    order: 2;
    margin: 10px 0px 0px;
    border: #ffffff solid 1px;
  }
}

.box_search form {
  display: flex;
}

.box_search input {
  outline: none;
  border: none;
  border-right: 1px solid #415ba4;
  background: none;
  width: 204px;
  height: 29px;
  padding: 3px 0px 0px 12px;
  font-family: vietnamItalic;
}

@media only screen and (max-width: 768px){
  .box_search input{
    background:#224095;
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px){
  .box_search input::placeholder{
    color: #ffffff;
  }
}

.btnSearch {
  cursor: pointer;
  background: #fff;
  width: 35px;
  top: 7px;
  border: none;
  color: #415ba4;
}

@media only screen and (max-width: 768px){
.btnSearch {
    background: #284393;
    color: white;
  }
}

.header_right_top {
  display: flex;
  justify-content: flex-end;
}


@media only screen and (max-width: 768px){
.header_right_top {
    flex-direction: column;
    order: 2;
    margin: 20px 0px 0px;
  }
}

.header_right_bottom {
  display: flex;
  justify-content: flex-end;

}

.header_right_bottom ul {
 display: flex;
 flex-direction: row;
}

@media only screen and (max-width: 768px){
  .header_right_bottom ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.header_right_bottom ul li {
  list-style: none;
}

.header_right_bottom ul li a {
  color: #212121;
  display: block;
  padding: 0px 12px;
  border-right: 2px solid #d8d8d8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: vietnamBold;
  font-weight: bold;
  line-height: 13px;
}

@media only screen and (max-width: 768px){
  .header_right_bottom ul li a {
    border-right: 0;
    padding: 20px 0;
    font-size: 20px !important;
    color: white;
  }
}

@media only screen and (max-width: 320px){
  .header_right_bottom ul li a {
    padding: 8px 0;
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1024px){
  .header_right_bottom ul li a{
    font-size:15px;
  }
}

.header_right_bottom ul li:last-child a{
  border:none;
}

.header_right_bottom ul li :hover {
  color: #71bf44;
}

.menu_close{
  position: absolute;
  top: 25px;
  right: 40px;
  padding-right: 35px;
  font-family: vietnamBold;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  display: none;
  text-decoration: none;
}

.menu_close:before{
  position: absolute;
  content: "";
  display: block;
  z-index: 11;
  top: 50%;
  right: 0;
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu_close:after{
  position: absolute;
  content: "";
  display: block;
  z-index: 11;
  top: 50%;
  right: 0;
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

}
@media only screen and (max-width: 768px){
  .menu_close {
    display: block;
  }
}

/*wapper*/
.wrapper {
  height: auto;
  font-size: 14px;
  margin: 0;
  padding: 100px 0 0 0;
}

.banner_slide {
  height: auto;
  width: 100%;
  position: relative;
}

.banner_slide:before{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 16px;
  width: calc(50% - 20px);
  border-bottom: 16px solid #71bf44;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  z-index: 2;
}

.banner_slide_swiper-container {
  width: 100%;
  height: calc(100vh - 100px);
}

@media screen and (max-width: 1024px){
  .banner_slide_swiper-container{
     height: calc(100vh - 900px);
  }
}

@media screen and (max-width: 768px){
  .banner_slide_swiper-container{
     height: calc(100vh - 700px);
  }
}

@media screen and (max-width: 375px){
  .banner_slide_swiper-container{
     height: calc(100vh - 600px);
  }
}

@media screen and (max-width: 360px){
  .banner_slide_swiper-container{
     height: calc(100vh - 450px);
  }
}

@media screen and (max-width: 320px){
  .banner_slide_swiper-container{
   height: calc(100vh - 300px);
  }
}

.banner_slide_swiper-container .swiper-slide img{
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.38);
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
}


.banner_slide_swiper-container .swiper-pagination-bullets {
  text-align: right;
  position: absolute;
  right: 175px !important;
  transform: translateX(-12.152778%) !important;
  bottom:8% !important;
}

.banner_slide_swiper-container .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-color: #284393;
  border-width: 1;
  border-style: solid;
  background: white !important;
}

.iconPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  left: 60px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #71bf44;
}

.scale{
      position: absolute;
    top: -15px;
    left: -15px;
    width: 90px;
    height: 90px;
    background: rgba(113, 191, 68, 0.3);
    border-radius: 50%;
    transition: all 0.5s;
    transform-origin: 50% 50%;
    animation: myAnimantion 2.3s infinite ease-in-out;
}

@keyframes myAnimantion {
  0% {
    transform: rotate(0) scale(.7) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(.7) skew(1deg);
  }
}

@media screen and (max-width: 375px){
  .scale{
    display: none;
  }
}

@media screen and (max-width: 375px){
  .iconPhone{
  left: auto;
  right: 0;
  top: calc(50% + 60px);
  width: 48px;
  height: 53px;
  border-radius: 0;
  }
}

@media screen and (max-width: 320px){
  .iconPhone{
  left: auto;
  right: 0;
  top: calc(50% + 60px);
  width: 46px;
  height: 53px;
  border-radius: 0;
  }
}


.iconPhone img {
  padding: 36%;
}

.slider_container_popup {
  position: fixed;
  z-index: 901;
  width: 249px;
  height: 110px;
  display: flex;
  right: 0;
  top: 45%;
  margin: 0;
}

.slider_container_popup_left {
  position: relative;
  width: 18px;
  height: auto;
  background-color: #224095;
}

.slider_container_popup_left img {
  position: absolute;
  bottom: 45%;
  left: 13%;
}

.slider-container_popup_right {
  width: 231px;
  height: 110px;
}

.slider_container_popup_right_top a {
  position: absolute;
  color: white;
  font-family: vietnam;
  font-weight: bold;
  padding-right: 15px;
  left: 10%;
  top: 20%;
  text-decoration: none;
  margin: 0px;
  font-size:15px;
}

@media screen and (max-width: 375px){
  .slider_container_popup_right_top a{
    left: 5%;
  }
}


.slider_container_popup_right_top a img {
  padding-right: 14px;
}

.slider_container_popup_right_top {
  position: relative;
  height: 55px;
  background-color: #71bf44;
  border-bottom: #224095 solid 1.5px;
}

@media screen and (max-width: 375px){
  .slider_container_popup_right_top{
    border-bottom: none;
    margin-bottom: 2px;
  }
}

.slider-container_popup_right_bottom {
  position: relative;
  height: 55px;
  background-color: #71bf44;
}

@media screen and (max-width: 375px){
  .slider-container_popup_right_bottom a{
    left: 7% !important;
  }
}

.slider-container_popup_right_bottom a {
  position: absolute;
  color: white;
  font-family: vietnam;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2px;
  left: 13%;
  top: 20%;
  margin: 0px;
  font-size: 15px;
}

.slider-container_popup_right_bottom a img {
  margin-right: 20px;
}

/*banner giới thiệu*/
.banner_gt {
  position: relative;
  display: flex;
  height: auto;
  border-bottom: #71bf44 solid 10px;
  z-index: 1;
}

@media screen and (max-width: 768px){
  .banner_gt{
    flex-direction: column;
   /* height: 1420px;*/

  }
}

.banner_gt_rectang {
  position: absolute;
}

.banner_gt_left {
  width: calc(50% - 12.152778% - 2.777778% );
  padding-left: 12.152778%;
  padding-right: 2.777778%;
  height: 100%;
  position: relative;
  padding-top: 25px;
}

@media screen and (max-width: 1024px){
  .banner_gt_left{
    width: calc(50% - 60px);
    padding-left: 30px;.banner_gt_left
  }
}


@media screen and (max-width: 768px){
  .banner_gt_left{
    width: 100%;
    height: auto;
    padding: 0px 15px 50px 15px;
  }
}

@media screen and (max-width: 375px){
  .banner_gt_left{
    padding: 0 15px 40px 15px;
    height: auto;
  }
}


.banner_left_decor{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}

@media screen and (max-width: 768px){
  .banner_left_decor{
    display: none;
  }
}

.banner_left_decor img{
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.banner_right_decor{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 768px){
  .banner_right_decor{
    display: none;
  }
}

.banner_right_decor img{
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.banner_gt:before{
  position: absolute;
  content: "";
  left: 0;
  height: 16px;
  width: calc(50% - 20px);
  border-top: 16px solid #224095;
  border-right: 20px solid transparent;
  border-left: 0px solid transparent;
  height: 0;
  z-index: 2;
}

.banner_gt_left_content_shape {
  position: absolute;
  width: 4px;
  height: 130px;
  margin-left: -15px;
  margin-top: 70px;
  background-color: #71bf44;
}

@media screen and (max-width: 768px){
  .banner_gt_left_content_shape{
    margin-left:0px;
  }
}

.banner_gt_left_content > h1,
h3 {
  text-transform: uppercase;
  color: #224095;
  font-family: vietnamBold;
}

.banner_gt_left_content h1 {
  font-size: 50px;
  margin-left: -14px;
}

@media screen and (max-width: 768px){
  .banner_gt_left_content h1 {
    margin-left:0px;
  }
}

@media screen and (max-width: 320px){
  .banner_gt_left_content h1 {
    font-size: 32px;
  }
}

.banner_gt_left_content h3{
  font-size: 14px;
}

@media screen and (max-width: 768px){
  .banner_gt_left_content h3 {
    padding-left: 15px;
    font-size:16px;
  }
}


.banner_gt_left_content_text {
  text-align: justify;
  font-family: vietnam;
  width: 100%;
  font-size: 15px;
  color: #000000;
}

@media screen and (max-width: 768px){
  .banner_gt_left_content_text{
    padding-left: 15px;
    width: 90%;
    font-size: 20px;
  }
}

.banner_gt_left_content_logo {
  position: relative;
  z-index: 1;
  margin: 55px 0px 0px;
}

.banner_gt_left_content_logo .coppy {
  width: calc((100% - 135px) / 4);
  margin-right: 33px;
  float: left;
  margin-bottom: 50px;
}

@media screen and (max-width: 375px){
    .banner_gt_left_content_logo .coppy{
      width: calc((100% - 25px)/2);
    }
}

@media screen and (max-width: 375px){
    .banner_gt_left_content_logo .coppy:nth-of-type(1){
      margin-top: 0;
      margin-right: 0;
    }
}

@media screen and (max-width: 375px){
    .banner_gt_left_content_logo .coppy:nth-of-type(3){
      margin-top: 0;
      margin-right: 0;
    }
}

@media screen and (max-width: 375px){
  .banner_gt_left_content_logo .coppy:nth-of-type(2n){
   margin-right: 0;
  }
}

@media screen and (max-width: 375px){
  .banner_gt_left_content_logo .coppy:last-child{
   margin-right: 0;
  }
}


.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 50px;
  background: #71bf44;
  position: relative;
  margin: 0 auto;
}



.icon:before{
  content: "";
  position: absolute;
  top: -27px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-bottom: 27px solid #71bf44;
}

.icon:after{
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-top: 27px solid #71bf44;
}

.banner_gt_left_content_logo .coppy .name{
  position: relative;
  text-align: center;
  padding-top: 55px;
  font-family: vietnam;
  font-weight: bold;
  font-size: 15px;

}

.banner_gt_left_content_logo .coppy .name:before{
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 26px;
  width: 1px;
  height: 16px;
  background-color: #71bf44;
}


.banner_gt_left_content_logo .coppy .name:after{
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 42px;
  width: 4px;
  height: 4px;
  background-color: #71bf44;
  border-radius: 50%;
}

.banner_gt_left_content_logo .coppy:last-child{
  margin-right: 0;
}

.banner_gt_left_content_logo .coppy img {
  display: block;
  max-width: 57px;
  height: auto;
}

.logo_xemThem {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px){
    .logo_xemThem{
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
    }
}


.banner_gt_right {
  width: 50%;
  right: 0;
  background-image: url("image/ben_6215.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_gt_right img{
  display: none;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px){
    .banner_gt_right img{
      display: block;
     
    }
}

@media screen and (max-width: 768px){
    .banner_gt_right{
      width: 100%;
     background-image: inherit !important;
    }
}

/*banner sản phẩm*/
.banner_sp {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.banner_sp:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url(image/back_sp.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  background-color: #284393;
  z-index: -1;
}

.banner_sp:before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  z-index: -1;
}

.banner_sp_top_sp {
   padding: 0px 167px;
  height: auto;
  margin:50px auto;
  align-items: center;
  display: inline-block;
  position: relative;
  font-family: vietnamBold;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 375px){
  .banner_sp_top_sp{
    font-size:30px;
    padding:0 30px;
  }
}

.banner_sp_top_sp:before{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  top: 32px;
  background-color: #71bf44;
  left: 0;
}

@media screen and (max-width: 375px){
  .banner_sp_top_sp:before{
    top: 18px;
    left: -35px;
    width: 50px;
  }
}

.banner_sp_top_sp:after{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  top: 32px;
  background-color: #71bf44;
  right: 0;

}

@media screen and (max-width: 375px){
  .banner_sp_top_sp:after{
    top: 18px;
    right: -35px;
    width: 50px;
  }
}

.banner_sp_top_imgSp {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: calc(100% - 24.305556%);
  margin-left: auto;
  padding-bottom: 150px;
  margin-right: auto;
}

@media screen and (max-width: 1024px){
  .banner_sp_top_imgSp{
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 375px){
  .banner_sp_top_imgSp1{
    width: 100%;
    margin-right:0;
  }
}

@media screen and (max-width: 375px){
  .banner_sp_top_imgSp1:nth-of-type(1){
    margin-top:0;
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 375px){
  .banner_sp_top_imgSp1:nth-of-type(1) .name_sp{
    color: white;
  }
}

@media screen and (max-width: 375px){
  .banner_sp_top_imgSp1:nth-of-type(2n){
    width: 100%;
    margin:85px 0;
  }
}

@media screen and (max-width: 375px){
  .banner_sp_top_imgSp1:nth-of-type(3n){
    width: 100%;
  }
}

.banner_sp_top_imgSp1 {
  position: relative;
  background-color: white;
  display: block;
  width: calc((100% - 20px)/3);
  margin-right: 10px;
  display: grid;
  height: 400px;
  border-bottom: #71bf44 solid 2px;
}

.banner_sp_top_imgSp1 img{
  display: block;
  margin: auto;
}

.banner_sp_top_imgSp1:last-child{
  margin:0;
}

@media screen and (max-width: 768px){
  .banner_sp_top_imgSp{
    width: calc(100% - 30px);
  }
}

.banner_sp_top_imgSp1 a {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.name_sp {
  width: 100%;
  text-align: center;
  bottom: -17%;
  text-transform: uppercase;
  color: #284393;
  font-size: 24px;
  font-family: vietnamBold;
  font-weight: bold;
  position: absolute;
}

/*banner dự án*/
.banner_prj {
  width: 100%;
  height: auto;
  text-align: center;
}

@media screen and (max-width: 768px){
    .banner_prj{
      height: auto;
    }
}

.banner_prj_top {
  padding: 0px 167px;
  height: auto;
  margin-top:50px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: inline-block;
  position: relative;
  font-family: vietnamBold;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #284393;
}

@media screen and (max-width: 375px){
  .banner_prj_top{
    padding:0 30px;
    font-size: 30px;
  }
}

.banner_prj_top:before{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  top: 32px;
  background-color: #71bf44;
  left: 0;
}

@media screen and (max-width: 375px){
  .banner_prj_top:before{
    top: 18px;
    left: -35px;
    width: 50px;
  }
}

.banner_prj_top:after{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  top: 32px;
  background-color: #71bf44;
  right: 0;
}

@media screen and (max-width: 375px){
    .banner_prj_top:after{
      top: 18px;
      right: -35px;
      width: 50px;
    }
}

.banner_prj_top span {
  font-family: vietnamBold;
  font-weight: bold;
  text-transform: uppercase;
  color: #284393;
  font-size: 48px;
  margin: 10px 30px;
}

.banner_prj_top_gc {
  width: 100px;
  height: 3px;
  background-color: #71bf44;
}

.banner_prj .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}

.banner_prj .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 5px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding-top: 12%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 375px){
  .banner_prj .swiper-slide{
    width: 100% !important;
    padding-top: 100%;
  }
}

.banner_prj .swiper-pagination-bullet{
  width: 12px !important;
  height: 12px !important;
  border-color: #284393;
  border-width: 1;
  border-style: solid;
  background: white !important;
}
.banner_prj .swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{
  text-align: right !important;
  width: 100% !important;
  top: 0 !important;
  height: 15px;
  left: -30px !important;
}

.banner_prj .swiper-pagination-bullet-active {
  opacity: 1;
  background: #284393 !important;
}

.banner_prj .swiper-slide:before{
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-image: url(image/befor_duan.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.banner_prj .swiper-slide .prj_name{
  position: absolute;
  font-weight: bold;
  font-family: vietnamBold;
  text-align: center;
  bottom: 5%;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size:18px;
}

.banner_prj .swiper-slide .prj_name:before{
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  background: white;
  bottom: -20px;
  font-family: vietnamBold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0px 35px 4px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}

.banner_prj .swiper-slide:hover .prj_name{
  position: absolute;
  max-height: 25%;
  height: 25%;
  text-align: bottom;
  transform: translateY(-100%);
  transition: 1s;
}

.banner_prj .swiper-slide:hover .prj_name:before{
  transition: 0.5s;
  bottom: 20px;
}

@media screen and (max-width: 1024px){
    .banner_prj .swiper-slide:hover .prj_name:before{
      bottom: 15px;
    }
}

@media screen and (max-width: 768px){
    .banner_prj .swiper-slide:hover .prj_name:before{
      bottom: 10px;
    }
}

@media screen and (max-width: 375px){
    .banner_prj .swiper-slide:hover .prj_name:before{
      bottom: 30px;
    }
}

@media screen and (max-width: 375px){
    .banner_prj .swiper-slide .prj_name:before{
      bottom: -25px;
    }
}

@media screen and (max-width: 768px){
    .banner_prj .swiper-slide .prj_name{
      font-size: 15px;
    }
}

@media screen and (max-width: 375px){
    .banner_prj .swiper-slide .prj_name{
      font-size: 19px;
    }
}


/*banner_dt*/
.banner_dt {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

.banner_dt_top {
  padding: 0px 167px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  align-items: center;
  display: inline-block;
  position: relative;
  font-family: vietnamBold;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #284393;
  z-index: 1;
}

@media screen and (max-width: 768px){
    .banner_dt_top{
    }
}


@media screen and (max-width: 375px){
    .banner_dt_top{
      padding: 11px 30px 0 30px;
      font-size: 30px;
    }
}


.banner_dt_top:before{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  top: 32px;
  background-color: #71bf44;
  left: 0;
}

@media screen and (max-width: 375px){
    .banner_dt_top:before{
      top: 25px;
      left: -35px;
      width: 50px;
    }
}

.banner_dt_top:after{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  top: 32px;
  background-color: #71bf44;
  right: 0;
}

@media screen and (max-width: 375px){
    .banner_dt_top:after{
      top: 25px;
      right: -35px;
      width: 50px;
    }
}

.banner_dt .swiper-container {
  width: calc(100% - 24.305556%);
  margin: 0 auto;
  padding-bottom: 105px !important;
  padding-top: 35px;
}

@media screen and (max-width: 1024px){
    .banner_dt .swiper-container{
      width: calc(100% - 60px);
    }
}

.banner_dt .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 140px !important;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-bottom: solid 3px #284393;
}

.banner_dt .swiper-container .swiper-wrapper .swiper-slide img{
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;

}

@media screen and (max-width: 375px){
    .banner_dt .swiper-container .swiper-wrapper .swiper-slide{
      width: 100% !important;
      height: 180px !important;
    }
}

.swiper-pagination-bullet{
  border:#284393 solid 1px;
}

.banner_dt .swiper-pagination-bullet{
  width: 12px !important;
  height: 12px !important;
  border-color: #284393;
  border-width: 1;
  border-style: solid;
  background: white !important;
}
.banner_dt .swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{
  text-align: right !important;
  width: 100% !important;
  top: 0 !important;
  height: 15px;
}

.banner_dt .swiper-pagination-bullet-active {
  opacity: 1;
  background: #284393 !important;
}

.banner_dt .swiper-button-prev{
  left: 4%;
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  z-index: 10;
  cursor: pointer;
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border:none;
  background-color: #71bf44;
  outline: none;

}

@media screen and (max-width: 1024px){
    .banner_dt .swiper-button-prev{
      left: 1%;
    }
}

@media screen and (max-width: 768px){
    .banner_dt .swiper-button-prev{
      margin-top: 10px;
      left: 10px;
    }
}


.banner_dt .swiper-button-prev i{
  position: relative;
  color: white !important;
}

.banner_dt .swiper-button-next{
  right: 4%;
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  z-index: 10;
  cursor: pointer;
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border:none;
  background-color: #71bf44;
  outline: none;

}

@media screen and (max-width: 1024px){
    .banner_dt .swiper-button-next{
      right: 1%;
    }
}

@media screen and (max-width: 768px){
    .banner_dt .swiper-button-next{
      margin-top: 10px;
      right: 10px;
    }
}


.banner_dt .swiper-button-next:hover{
  background-color: #284393;
}

.banner_dt .swiper-button-prev:hover{
  background-color: #284393;
}

.banner_dt .decor_bottom{
      position: absolute;
    content: "";
    right: 0;
    bottom: 0px;
    height: 16px;
    width: calc(50% - 210px);
    border-bottom: 16px solid #71bf44;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    z-index: 1;
}


@media screen and (max-width: 768px){
    .banner_dt .decor_bottom{
      width: calc(50% - 20px);
    }
}

.banner_dt .decor_left{
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.banner_dt .decor_left img{
  max-height: 100%;
}

.banner_dt .decor_right{
  position: absolute;
  top: 0;
  right: 0; 
  height: 100%;
  width: calc(50% - 190px);
}

@media screen and (max-width: 768px){
  .banner_dt .decor_right{
    display: none;
  }
}

.banner_dt .decor_right img{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/*footer*/
.footer {
  position: relative;
  display: flex;
  height: auto;
  flex-direction: row;
  background-color: #224095;
  background-image: url(image/back_ft.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  z-index: 1;
  padding-top: 65px;
  padding-bottom: 30px;
  padding-left: 12.152778%;
  padding-right: 12.152778%;
}

@media screen and (max-width: 1024px){
  .footer{
    padding-left: 2.083333%;
    padding-right: 2.083333%;
  }
}

@media screen and (max-width: 768px){
  .footer{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 375px){
  .footer{
    padding-top: 30px;
  }
}

.decor_footer{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% + 190px);
  height: 100%;
}

@media screen and (max-width: 768px){
  .decor_footer{
    display: none;
  }
}

.decor_footer img{
  max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.footer:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: calc(50% + 170px);
  border-top: 16px solid #224095;
  border-right: 20px solid transparent;
  border-left: 0px solid transparent;
  height: 0;
  z-index: 2;
}

@media screen and (max-width: 768px){
  .footer:after{
    width: calc(50% - 20px);
  }
}


.footer_left {
  width: calc(100%/3 - 10px);
  color: white;
  height: auto;
}

@media screen and (max-width: 768px){
  .footer_left{
    width: 100%;
    margin-top:30px;
    padding: 0;
    height: auto;
  }
}

.footer_logo{
  margin-bottom: 40px;
}

.footer_center {
  height: auto;
  width: calc(100%/3 - 10px);
  color: white;
  margin: 0 40px;
  /*padding-top: 20px;*/
}

@media screen and (max-width: 768px){
  .footer_center{
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
}

.footer_right {
  height: auto;
  color: white;
  width: calc(100%/3 - 10px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .footer_right{
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
}

.footer_inform {
  margin-top: 30px;
  display: grid;
}

.footer_inform span {
  margin-bottom: 15px;
  font-family: vietnamBold;
  font-size: 15px;
}

.footer_inform span img{
  margin-right: 10px;
}

.footer_text {
  font-family: vietnamBold;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0px;
}

.footer_gc {
  width: 76px;
  height: 3px;
  background-color: #71bf44;
}

.footer_center_top_top {
  font-family: vietnamBold;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer_center_top {
  padding-bottom: 30px;
  border-bottom: #657ab5 solid 1px;
}

.footer_center_top_bottom {
  margin-top: 18px;
  display: grid;
}

.footer_center_top_bottom span {
  margin-bottom: 15px;
  font-family: vietnamBold;
  font-size:15px;
}

.footer_center_top_bottom span img{
  margin-right: 10px;
}

.footer_center-bottom{
  margin-top:30px;
}

.box_support {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.box_support_img {
  height: 20px;
  padding: 11px;
  border: #657ab5 solid 1px;
}

.box_support span {
  height: 24px;
  padding: 9px;
  color: white;
  width: calc(100% - 135px);
  margin-right: 7px;
  font-family: vietnamBold;
  border: #657ab5 solid 1px;
}

.zl_logo {
  width: 44px;
  height: 44px;
  background-image: url(image/zalo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sky_logo {
  width: 46px;
  height: 46px;
  margin-left: 5px;
  background-image: url(image/skype.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_right_regis {
  border-bottom: #657ab5 solid 1px;
}

.footer_right_regis_top {
  font-family: vietnamBold;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 30px 0px 10px 0;
}

.footer_right_regis_form{
  margin: 30px 0;
}

.footer_right_support{
  border-bottom: #657ab5 solid 1px;
}

.footer_right_regis_form form{
  width: calc(100% - 20px);
}


.footer_right_regis_form input[type="text"] {
  width: 100%;
  padding: 11px 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: vietnamBold;
  font-size: 15px;
  margin-bottom: 16px;
  outline: none;
  color: white !important;
}

.footer_right_regis_form input[type="text"]::placeholder{
  color: white;
}

.footer_right_regis_form input[type="submit"] {
  background-color: #4caf50;
  position: relative;
  padding: 12px 43px;
  border: none;
  cursor: pointer;
}

.footer_right_regis_form input[type="submit"]:hover {
  background-color: #45a049;
}

.button_regis {
  position: absolute;
  margin: 10px 0px 0px -55px;
}

.footer_right_coppy {
  font-size:15px;
  color: white;
  font-family: vietnamBold;
  margin-top: 51px;
}

@media screen and (max-width: 768px){
    .footer_right_coppy{
        text-align: center;
        margin-top:30px;
    }
}

.myBtn {
  width: 10px;
  height: 10px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  border: white solid 1px;
  outline: none;
  background-color: #224095;
  color: white;
  cursor: pointer;
  padding: 27px;
  border-radius: 4px;
}

.myBtn img {
  margin: 0px 0px 12px -7px;
}

.myBtn:hover {
  background-color: #555;
}

.open-button {
  background-color: #224095;
  color: white;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 216px;
  right: 0;
  height: 110px;
  width: 16px;
  z-index: 901;
}

.btn_cancel {
  background-color: #224095;
  color: white;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 215px;
  height: 112px;
  width: 16px;
  z-index: 901;
  outline: none;
}

@media screen and (max-width: 375px){
    .btn_cancel{
      display: none;
    }
}

.form-popup {
  top: 50%;
  transform: translate(74%,-50%);
  position: fixed;
  right: 0;
  z-index: 901;
}

@media screen and (max-width: 375px){
    .form-popup{
      transform: translate(79%,-50%);
    }
}

@media screen and (max-width: 320px){
    .form-popup{
      transform: translate(80%,-50%);
    }
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  display: none;
  -moz-border-radius: 60px;
  border: white solid 1px;
  border-radius: 3px;
}

.open{
   transform: translate(0,-50%);
   transition:1s;
}


.scrollTop{
  position: fixed;
  bottom: 30px;
  right: 60px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 35px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: none;
}

.scrollTop i{
  color: #ffffff;
  font-size: 19px;
}



@media screen and (max-width: 1024px){
    .scrollTop{
       right: 30px;
    }
}

@media screen and (max-width: 1024px){
    .scrollTop{
       right: 15px;
      bottom: 15px;
    }
}

